
<body class="css">

<div class="container">
  <div class="row">

    <div class="col-md-2"><img id="pht" src="../assets/img/moi2.jpg" alt=""></div>

    <h1 class="col-md-5">
      Mathieu CRESSOT Portfolio
    </h1>

  </div>

</div>

<div class="container">

  <div class="row">

    <div id="moi" class="col-md-8 col-md-offset-2">

      <p>Je me nomme Mathieu apres divers métié je me concentre sur ma première passion l'informatique et tous particulièrement le Dévelopement.</p>

      <p>Je suivis une formation de dévelopeur logiciel à l'ACS Access Code School.</p>

      <p>Je vous présente mon oeuvre mon Porfolio</p>

    </div>

  </div>

</div>

<div class="container">

  <div class="row">

  </div>

  <div class="col-md-offset-6">

    <p class="txmenu">SOLO</p>
  </div>

  <a  class="col-md-offset-6" id="solo"  href="./solo/solo.component.html"><img class="menu" src="../assets/img/menu.png" alt="solo"></a>



  <div class="col-md-offset-6">

    <p class="txmenu">JOINT</p>
  </div>

  <a class="col-md-offset-6" id="joint"  href="./joint/joint.component.html"><img class="menu" src="../assets/img/menu.png" alt="joint"></a>



</div>

<p id="pers">www.mathieucst.pro</p>

</body>

